<!DOCTYPE html>
<html>
  <head>
    <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/css/jasny-bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/css/leaderboard.css" rel="stylesheet" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <nav class="navbar navbar-inverse" role="navigation">
      <ul class="nav navbar-nav">
        <li><a href="#">JHU MT class assignment submissions</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ logout }}">Logout {{ user }}</a></li>
      </ul>
    </nav>

    <div class="jumbotron">
      <div class="panel panel-default">
        <div class="panel-heading">Leaderboard</div>
        <div class="panel-body">
          <form class="form-inline" role="form" action="/handle?" method="post">
            <div class="checkbox">
                <input type="checkbox" id="leaderboard" name="leaderboard" {{ checked }} value="True" />
                Show me on the leaderboard
            </div>
            <div id="handlediv" class="form-group">
              <div class="checkbox">
                with handle
              </div>
              <div class="form-group">
                <input type="text" 
                       class="form-control" 
                       id="handle" 
                       name="handle" 
                       placeholder="{{ handle }}" 
                       value="{{ handle }}" />
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-primary" type="submit">Update</button><br/>
            </div>
          </form>
          <i><small>Your handle will always be displayed to you even when hidden from others.</small></i>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Assignments</div>
        <div class="panel-body">
          <table class="table table-striped">
            <thead>
              <th>No.</th>
              <th>File</th>
              <th>Upload</th>
              <th>Score</th>
            </thead>
            <tbody>
              {% for a in assignments|reverse %}
              <tr {% if a.number == current %}class="success"{% endif %}>
                <td><a href="http://mt-class.org/jhu/hw{{a.number}}.html">{{ a.number }}</a>{% if a.number == current %} (Current){% endif %}</td>
                <td>
                  {% if a.filename %}
                  <span>{{ a.filename }}<span><br />
                  <span class="submitted">Submitted {{ a.timestamp.strftime('%Y-%m-%d @ %H:%M') }}</span>
                  {% endif %}
                </td>
                <td>
                  {% if expired[a.number] %}
                  <div><em>Deadline expired</em></div>
                  {% else %}
                  <form action="/upload?" method="post" enctype="multipart/form-data" onsubmit="upload_clicked({{ a.number }})">
                    <div class="fileinput fileinput-new uploadinput-{{ a.number }}" data-provides="fileinput">
                      <span class="btn btn-default btn-file" id="changefile-{{ a.number }}">
                        <span class="fileinput-new">Select file</span>
                        <span class="fileinput-exists">Change file</span>
                        <input type="file" id="file" name="file"/>
                        <input type="hidden" id="number" name="number" value="{{ a.number }}"/>
                      </span>
                      <span class="fileinput-filename"></span>
                      <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                    </div>
                    <button class="btn btn-primary" type="submit" disabled="disabled" id="upload-{{ a.number }}">Upload</button>
                  </form>
                  {% endif %}
                </td>
                <td>
                {% if a.filename %}
                  {% if a.score == 0 %}
                    [Error]
                  {% else %}
                    {{ "%.2f" % a.score }}
                    {% if progress[a.number] < 100 %}
                      <span id="updating">(Updating)</span><br/>
                      <div class="progress" id="progress-{{ a.number }}">
                        <div id="progressbar-{{ a.number }}" class="progress-bar" role="progressbar" aria-valuenow="{{ progress[a.number] }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress[a.number] }}%;">
                          {{ progress[a.number] }}%
                        </div>
                      </div>
                    {% endif %}
                  {% endif %}
                {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div><!-- panel -->

      {% for i in history|reverse %}
      <div class="panel panel-default">
        <div class="panel-heading">Assignment {{ current - loop.index0 }} History</div>
        <div class="panel-body">
          <table class="table table-striped">
            <thead>
              <th>Date/Time</th>
              <th>File</th>
              <th>Score</th>
            </thead>
            <tbody>
              {% for item in i %}
              <tr>
                <td>{{ item.timestamp.strftime('%Y-%m-%d @ %H:%M') }}</td>
                <td>{{ item.filename }}</td>
                <td>{% if item.filename %}
                  {% if item.percent_complete < 100 %}
                    <span class="text-success"><b>Updating</b></span>
                  {% elif item.score == 0 %}
                    [Error]
                  {% else %}
                    {{ "%.2f" % item.score }}
                  {% endif %}
                {% endif %}</td>
              </tr>
              {% endfor %}
            <tbody>
          </table>
        </div>
      </div><!-- panel -->
      {% endfor %}
    </div>

    <!-- JavaScript -->
    <script src="static/js/jquery-1.10.2.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/jasny-bootstrap.min.js"></script>
    <script type="text/javascript">
      {% for a in assignments %}
      $(".uploadinput-{{ a.number }}").bind("change.bs.fileinput", function(){
        $("#upload-{{ a.number }}").removeAttr("disabled");
      })
      $(".uploadinput-{{ a.number }}").bind("clear.bs.fileinput", function(){
        $("#upload-{{a.number }}").attr("disabled", "disabled");
      })
      {% endfor %}
      function upload_clicked(i) {
        $('#changefile-'+i).attr('disabled', 'disabled');
        $('#upload-'+i).attr('disabled', 'disabled');
      }
      var most_progress = new Array();
      {% for p in progress %}
      most_progress[{{ loop.index0 }}] = {{ p }};
      {% endfor %}
      function update_progress(i) {
        $.get('/progress?i=' + i,
          function(progress){
            if (progress < 100){
              setTimeout('update_progress('+i+')', 15000);
              if (most_progress < progress){
                $('#progressbar-'+i).attr('style', 'width: ' + progress + '%');
                $('#progressbar-'+i).attr('aria-valuenow', progress);
                $('#progressbar-'+i).text(progress + '%');
                most_progress[i] = progress;
              }
            } else {
              window.location.reload();
            }
          })
      }
      $(document).ready(function() {
//        var checked = $('#handlediv').val($('#leaderboard').is(':checked'));
        var checked = $('#leaderboard').is(':checked');
        if (checked)
          $('#handlediv').show();
        else
          $('#handlediv').hide();

        $('#leaderboard').change(function() {
          $('#handlediv').toggle();
        });
        {% for p in progress %}
        if($('#progressbar-{{ loop.index0 }}').length > 0){
          setTimeout('update_progress({{ loop.index0 }})', 15000);
        }
        {% if p < 100 %}
          $('#changefile-{{ loop.index0 }}').attr('disabled', 'disabled');
        {% endif %}
        {% endfor %}
      });
    </script>
  </body>
</html>
